// Standards
$color-white: #FFF;
$color-black: #000;

// Theme Colors
$theme-color-gold: #CF9F4A;

// Responsive Breakpoints

// 320px
$extra-small-device-width: 20.000em;

// 450px
$small-device-width: 28.125em;

// 800px
$medium-device-width: 50em;